body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjbwiqgZG52BTROleBVE61BS-2p163auYt6brYJ1XqH-UC6LcG");
  color: rgb (0,0,0);
  font-size: 12px;
  font-family: Helvetica;
  padding-left: 60px;
  padding-top: 80px;
  padding-right: 40px;
  margin: 0px;
}
h1{
  font-weight: bold;
  font-size: 16px;
}
.item{
    background: rgb(248, 248, 248);
    border: 3px solid rgba(200, 200, 200, 0.5);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}

#footer a {
  color: black;
  font-size: 30px;
}
#footer a:hover {
  color: gray;
	font-size: 50px;
}
