body{
  background-image: url("https://i.pinimg.com/originals/80/4e/09/804e093cb66146a2d2fa1abfd346d6b3.jpg");
  color: rgb (0,0,0);
  font-size: 12px;
  font-family: Helvetica;
  padding-left: 60px;
  padding-top: 80px;
  padding-right: 40px;
  margin: 0px;
}
h1{
  font-weight: bold;
  font-size: 16px;
}
.item{
    background: rgb(248, 248, 248);
    border: 3px solid rgba(200, 200, 200, 0.5);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}

#footer a {
  color: black;
  font-size: 30px;
}
#footer a:hover {
  color: gray;
	font-size: 50px;
}
